/* variables */
/* general */
#main-content {
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3);
  padding-bottom: 50px;
  height: 600px; }

button[type="submit"] {
  display: block;
  height: 40px;
  width: 90px;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  background-color: #45cae6;
  color: #fff; }

#consent {
  font-family: Helvetica;
  font-size: 0.7em;
  color: #333; }
  #consent a {
    text-decoration: none;
    color: #45cae6; }

/* content */
#wrapper {
  position: relative;
  width: 775px;
  margin: auto;
  /* header */
  /* form */
  /* sidebar */
  /* footer */ }
  #wrapper header {
    position: relative;
    padding: 50px 0 10px 0;
    width: 100%; }
    #wrapper header .logo {
      float: left; }
    #wrapper header #control {
      position: relative;
      float: right;
      box-sizing: border-box;
      top: 25px;
      display: inline-block;
      list-style: none outside; }
      #wrapper header #control a {
        box-sizing: border-box;
        padding: 0 10px 0 5px; }
        #wrapper header #control a:first-child {
          font-weight: bold;
          border-right: 1px solid #d3d3d3; }
        #wrapper header #control a li {
          display: inline-block;
          font-family: Helvetica;
          font-size: 1.0em;
          color: #333; }
  #wrapper section {
    width: 66%;
    position: relative;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    padding: 50px; }
    #wrapper section h2 {
      font-family: Helvetica;
      font-size: 1.5em;
      font-color: #333;
      letter-spacing: 0.5px;
      line-height: 1.6em;
      vertical-align: middle;
      margin-bottom: 50px; }
    #wrapper section form {
      width: 75%;
      margin-bottom: 10px; }
      #wrapper section form .generic-label {
        font-family: Helvetica;
        font-size: 0.9em; }
      #wrapper section form input {
        width: 100%;
        height: 1.2em;
        padding: 0.4em 0.4em;
        border-radius: 2px;
        border: 1px solid #d8d8d8;
        margin: 20px 0;
        font-family: Helvetica; }
      #wrapper section form .cb-label {
        width: 50%; }
        #wrapper section form .cb-label #remember {
          position: relative;
          top: 0.2em;
          width: 5%;
          margin: 0 10px 0 0;
          border: none; }
  #wrapper #vertical-divider {
    display: inline-block;
    width: 34%;
    height: 550px;
    margin-top: 25px;
    border-left: 1px solid #d3d3d3;
    box-sizing: border-box; }
    #wrapper #vertical-divider aside {
      height: 100%;
      position: relative;
      display: inline-block;
      float: right;
      box-sizing: border-box;
      border-radius: 2px;
      margin: 0 25px;
      padding: 25px 10px 10px 25px;
      background-color: #f5f5f5; }
      #wrapper #vertical-divider aside span {
        font-family: Helvetica;
        font-size: 1.1em;
        color: #333; }
      #wrapper #vertical-divider aside ul {
        padding-left: 15px;
        padding-top: 15px;
        list-style: disc outside;
        font-family: Helvetica;
        font-size: 0.75em;
        color: #333; }
        #wrapper #vertical-divider aside ul li {
          margin: 5px 0 10px 0; }
          #wrapper #vertical-divider aside ul li a {
            text-decoration: underline;
            color: #333; }
  #wrapper footer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    color: #a5a5a5;
    box-sizing: border-box;
    padding: 50px 50px 0 50px;
    margin-bottom: 75px; }
    #wrapper footer #navi-wrapper {
      padding-bottom: 25px;
      display: flex;
      justify-content: space-between; }
      #wrapper footer #navi-wrapper a {
        text-decoration: none;
        color: #a5a5a5;
        font-family: Helvetica;
        font-size: 0.9em;
        display: inline-block;
        padding: 0 7px;
        border-left: 1px solid #a5a5a5; }
        #wrapper footer #navi-wrapper a:first-child {
          padding-left: 0;
          border: none; }
        #wrapper footer #navi-wrapper a:last-child {
          padding-right: 0; }
        #wrapper footer #navi-wrapper a:hover {
          text-decoration: underline; }
    #wrapper footer #logos {
      position: relative;
      margin-bottom: 25px;
      width: 100%;
      height: 40px;
      text-align: center; }
      #wrapper footer #logos a img {
        height: 100%; }
        #wrapper footer #logos a img:last-child {
          margin-left: 30px; }
    #wrapper footer p {
      color: #a5a5a5;
      font-family: Helvetica;
      font-size: 0.7em;
      width: 100%;
      text-align: center; }

/*# sourceMappingURL=style.css.map */
